* { box-sizing: border-box; }
html, body {width: 100vw; height: 100vh; overflow: hidden; margin: 0;}
body { width: 100vw; height: 100%; background-color: #000; font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; display: flex; justify-content: center; align-items: center;}
a { text-decoration: none; color: #fff; outline: none; }
@font-face{font-family:'LEMONMILK-Regular';src:url('../../LEMONMILK-Regular.otf') format('opentype');font-display:swap;}

.absolute{ position: absolute; /*top: 50px !important;*/ inset: 0; justify-content: center; display: inline-flex; flex-direction: row; max-width: 100vw; overflow-x: hidden; overflow-y: visible;}
.jc {justify-content: center;}
.bg-shape1{width: 500px; height: 500px; border-radius: 9999px; position: relative; animation: one 10s infinite;}
.bg-shape2{width: 300px; height: 300px; border-radius: 9999px; position: relative; animation: two 10s infinite;}
@keyframes one{
	0%{left: 0px; top: 0px;}
	25%{left: -100px; top: 70px;}
	50%{left: 20px; top: 150px;}
	75%{left: 50px; top: 100px;}
	100%{left: 0px; top: 0px;}
}
@keyframes two{
	0%{left: 0px; top: 0px;}
	25%{left: 50px; top: 10px;}
	50%{left: 100px; top: 50px;}
	75%{left: 50px; top: 100px;}
	100%{left: 0px; top: 0px;}
}

.o50{opacity: .5;}
.bg-blur{filter: blur(90px);}
.bg-pr{background-color: #444000;}
.bg-rd{background-color: #440000;}
.bg-gd{background-color: #ffd000;}

/*NAV*/

.text-container{ font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; display: flex; /*flex-direction: column;*/ justify-content: center; align-items: center; top: 1%; height: 3vh; width: 100vw; position: fixed; padding: 2vw 5vw; /*background-color: #111; border-top: 3px solid #f1f1f1; border-bottom: 3px solid #f1f1f1; left: 0;*/ z-index: 3; } 
.title{ font-size: 1rem; text-align: center; /*text-transform: uppercase;*/ letter-spacing: 0.5rem; font-weight: 500; color: #f1f1f1; }
.title span {position: relative; z-index: 1;} .title span::before {content: ''; position: absolute; z-index: -1; top: 0; bottom: 0; left: -0.25em; right: -0.25em; background-color: #f1f1f1; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;}.title span:hover::before { transform: scaleX(1); transform-origin: center left;}
.titleII{color:#e0e0e0; filter: drop-shadow(0px 0px 10px #f1f1f1)}
.title span:hover .titleII{color:#111; filter: drop-shadow(0px 0px 10px #111)}

/*.socials{}*/

.socialsII{font-size: 2rem; margin: 0 20px; transition: all 0.3s ease-in-out;}
.socials span {position: relative; z-index: 1; mix-blend-mode: difference;} /*.socials span::before {content: ''; position: absolute; z-index: -1; top: 10%; bottom: 50%; left: 1em; right: 0.5em; rotate: -45deg; background-color: #f1faee; transform-origin: center center; transform: scaleX(0); transition: transform 0.2s ease-in-out;}.socials span:hover::before { transform: scaleX(1); transform-origin: center center;}*/
.socials span:hover .socialsII{filter: drop-shadow(0px 0px 10px #ffffff)}

#bm {width: 1000px; height: 1000px; object-fit: cover; z-index: 2; mix-blend-mode: lighten;}
#bm video {width: 100%; height: 100%; mix-blend-mode: difference;}

.cars {color: #eee; font-size: 2rem; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 2vh; letter-spacing: 5px; filter: drop-shadow(0px 0px 2px #f1f1f1);}
.cars span {position: relative; z-index: 1;} .cars span::before {content: ''; position: absolute; z-index: -1; top: 40%; bottom: 30%; left: -0.25em; right: -0.25em; background-color: #a00000; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;} .cars span:hover::before { transform: scaleX(1); transform-origin: center left;}
.car:hover .cars{filter: drop-shadow(0px 0px 0px #f1f1f1);}

@keyframes fade {0% {opacity: 1;}100% {opacity: 0;}}
.fade-in-out { z-index: 3; animation: fade 0.2s ease-in-out infinite alternate;}.fade-in-out:hover {animation-duration: unset;}


@media only screen and (max-device-width: 500px){

	.text-container{top: 2%;} 
	.socialsII{font-size: 1.5rem; margin: 0 5px;}
	.title{ font-size: 0.5rem; }
	.ci{width: 200px; height: 200px;}
	.cars {font-size: 1.5rem;}
  
}
